<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="/home/dev/workspace/RestEncoder/app/bootstrap.php.cache"
>

    <testsuites>
        <testsuite name="Symfony RestEncoderBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>Resources/</directory>
                <directory>Tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="KERNEL_DIR" value="Tests/Resources/app" />
    </php>

</phpunit>
